
        table {
            margin-top: 5%;
            border-radius: 5px;
            margin-left: 27.5%;
            font-weight: normal;
            border: none;
            border-collapse: collapse;
            max-width: 100%;
            white-space: nowrap;

        }    
    
    .sendMoney:hover {
        background-color: #ffcccc !important;
        color: black!important;
      }

       
        
      th {
            text-align: center;
            padding: 8px;
            color: #0c0d0d;
            /*background: #ffcda3;*/
            background-color: #ffb6c1;
        }

        tr:nth-child(odd) {
            text-align: center;
            background-color: #e0ffff !important;
            text-align: center;
            padding: 8px;
            font-size: 15px;
        }

        tr:nth-child(even) {

            text-align: center;
            background-color: #f0f0ce !important;
            color: #0c0d0d;
            text-align: center;
            padding: 8px;
            font-size: 15px;
        }



        /* Responsive */

        @media (max-width: 767px) {
            .fl-table {
                display: block;
                width: 100%;
            }

            .fl-table thead,
            .fl-table tbody,
            .fl-table thead th {
                display: block;
            }


            .fl-table thead {
                float: left;
            }

            .fl-table tbody {
                width: auto;
                position: relative;
                overflow-x: auto;
            }


            .fl-table th {
                padding: 20px .625em .625em .625em;
                height: 60px;
                vertical-align: middle;
                box-sizing: border-box;
                overflow-x: hidden;
                overflow-y: auto;
                width: 120px;
                font-size: 13px;
                text-overflow: ellipsis;
            }

            .fl-table thead th {
                text-align: center;

            }

            .fl-table tbody tr {
                display: table-cell;
            } 

        